@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Permanent+Marker&family=Roboto&display=swap');


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar {
    background-color: #ffc107 !important;
    border-bottom: 2px solid #ff8f00; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}

.navbar-brand img {
    height: 40px; 
    max-height: 100%;
}

.navbar-nav .nav-link {
    color: #2c2c2c !important; 
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.2s ease-in-out;
}

    .navbar-nav .nav-link:hover {
        color: #0056b3 !important; 
        text-decoration: none;
    }

.navbar-toggler {
    border-color: transparent;
}


.navbar-toggler-icon {
    background-color: #2c2c2c; 
    border-radius: 2px;
    width: 25px;
    height: 2px;
    position: relative;
}

    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: '';
        position: absolute;
        left: 0;
        width: 25px;
        height: 2px;
        background-color: #2c2c2c;
        border-radius: 2px;
    }

    .navbar-toggler-icon::before {
        top: -7px;
    }

    .navbar-toggler-icon::after {
        top: 7px;
    }


.navbar .bi-person,
.navbar .bi-cart {
    font-size: 1.2rem;
    color: #2c2c2c;
    margin-right: 8px;
}

    .navbar .bi-person:hover,
    .navbar .bi-cart:hover {
        color: #0056b3;
    }


a.nav-link {
    color: #2c2c2c !important;
}

    a.nav-link:hover {
        color: #00b894 !important;
    }

.logoutbtn {
    color: #2c2c2c !important;
}

    .logoutbtn:hover {
        color: #00b894 !important;
    }

.note-editor .dropdown-toggle::after {
    display: none;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-logo {
    font-family: 'Permanent Marker', cursive;
}

    .font-logo:hover {
        color: #00b894 !important;
    }

.truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.container {
    padding-top: 10px; 
}

.rating {
    font-size: 1.2rem; 
    display: flex;
    align-items: center;
}

    .rating .bi-star-fill {
        color: #ffc107; 
        margin-right: 2px;
    }

    .rating .bi-star {
        color: #ccc; 
        margin-right: 2px;
    }


