@model ArticlesApp.Models.Product
<h2 class="text-center mt-5">Adaugare produs</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form enctype="multipart/form-data" asp-action="New" asp-controller="Products">
                <div class="form-group">
                    <label asp-for="Title" class="form-label">Titlu Produs</label>
                    <br />
                    <input asp-for="Title" class="form-control" />
                    <br /><br />
                </div>
                <div class="form-group">
                    <label asp-for="Image">Incarca Imagine</label>
					<br />
					<input asp-for="Image" type="file" class="form-control" />
					<br /><br />
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="form-label">Descriere Produs</label>
                    <br />
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <br /><br />
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="form-label">Pret Produs</label>
                    <br />
                    <textarea asp-for="Price" class="form-control"></textarea>
                    <br /><br />
                </div>
                <div class="form-group">
                    <label asp-for="Stock" class="form-label">Stoc Produs</label>
                    <br />
                    <textarea asp-for="Stock" class="form-control"></textarea>
                    <br /><br />
                </div>
                <div class="form-group">
                    <label for="CategoryId">Selectati categoria</label>
                    <br />
                    <select asp-for="CategoryId" asp-items="Model.Categ" class="form-control">
                        <option value="">Selectati categoria</option>
                    </select>
                    <br />
                </div>
                <button class="btn btn-success" type="submit">Adauga produs</button>
            </form>
        </div>
    </div>
</div>